#container{
  width: 1080px;
  margin-left: auto;
  margin-right: auto;

}


/*header début*/
*{
  font-family: "Della Respira","Quicksand",Helvetica,Arial,sans-serif;
}
/*top header*/
img.banniere {
  width: 374px;
  display: block;
  margin: 0 auto;
}
a.accueil {
  width: 95%;
}
li.accueil{
  width: 60px;
}
img.house {
  width: 23px;
}

ul.favIcon {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 32px;
  right: 19%;
}

ul.favIcon li{
  margin-right: 20%;
}

img.buste{
  width: 22px;
}

img.coeur {
  width: 30px;
  margin-top: 5px;
}

img.pannier {
  width: 25px;
}

img.loupe{
  width: 23px;
  position: absolute;
  right: 30%;
  top: 102px;
}

#recherche {
  border-radius: 20px;
  border: white;
  padding-left: 50px;
  position: absolute;
  right: 17%;
  top: 101px;
}
/* top header*/

/*nav*/
nav.menu {
  background: #DE8496;
  height: 50px;
}

nav.menu ul{
  display: flex;
  justify-content: flex-start;
  margin-left: 14%;
}


nav.menu ul li {
  list-style: none;
  position: relative;
  margin-top: 3px;
  margin-right: 2px;
}

nav.menu ul li a {
  text-decoration: none;
  color: white;
  background: #DE8496;
  padding: 10px 20px;
  margin-right: 2px;
  display: block;
  transition: all .2s ease-in;
}

nav.menu ul li:after {
  content: "|";
  position: absolute;
  right: -1px;
  top: 10px;
  color: white;
}

nav.menu ul li a:hover {
  color: #DE8496;
  background: white;
}

nav.menu ul li:last-child:after{
  display: none;
}
.font{
  font-size: 24px;
}
/*nav fin */

div.sousHeader > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: 840px;
  width: 100%;
  z-index: -1;
    }
/* header fin*/
