.container {
  width: 90%;
}
*{
  font-family: "Della Respira","Quicksand",Helvetica,Arial,sans-serif;
}

div.clearBoth{
  clear: both;
}

div.container > h2 {
  text-align: center;
}

div.container > p {
  width: 330px;
  text-align: center;
  margin: auto;
}
h2{
  color: #DE8496;
  font-size: 1.3rem;
  text-transform: uppercase;
}

div.polleni div img{
  width: 300px;
}

div.polleni{
  margin-top: 80px;
}
div.polleni div.photo{
  float: left;
  margin-right: 80px;
}
div.polleni div.photo p {
  text-align: center;
  margin-top: 10px;
}

div.polleni div.textPolleni p{
  margin-top: 30px;
}

div.polleni div.textPolleni h2:last-of-type{
  margin-top: 50px;
}

div.polleni div.textPolleni p:last-of-type{
  width: 100%;
}


div.mesBoutons{
  width: 684px;
  margin: auto;
  margin-top: 40px;
}
div.mesBoutons input{
  border-radius: 15px;
  width: 240px;
  height: 35px;
  border: 2px solid #DE8496;
}

div.mesBoutons input.first{
  color: white;
  background-color: #DE8496;
  margin-right: 200px;
}

div.mesBoutons input.second{
  color: #DE8496;
}

/*mission*/

div.mission div.missionText p{
  width: 57%;
}

div.mission img{
  width: 400px;
  float: right;

}
