#container{
  width: 1080px;
  margin-left: auto;
  margin-right: auto;

}

/*nav*/
nav.menu {
  background: #8e44ad;
}

nav.menu ul{
  display: flex;
  justify-content: flex-start;
}


nav.menu ul li {
  list-style: none;
  position: relative;
}

nav.menu ul li a {
  text-decoration: none;
  color: white;
  background: #8e44ad;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 2px;
  display: block;
  transition: all .2s ease-in;
}

nav.menu ul li:after {
  content: "|";
  position: absolute;
  right: -1px;
  top: 10px;
}

nav.menu ul li a:hover {
  color: #8e44ad;
  background: white;
}

nav.menu ul li:last-child:after{
  display: none;
}
.font{
  font-size: 24px;
}
/*nav fin */
